*,
*:after,
*:before {
  box-sizing: border-box !important;
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  text-align: center;
}
