<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>XGL examples</title>
    <link href="css/example.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <canvas></canvas>

    <script>

      window.__configuration__ = {
        imageNames: ${imageNames},
        imageMapURI: '${imageMapURI}',
        imageMapJSON: ${imageMapJSON},
        imageDirectoryURI: '${imageDirectoryURI}'
      };

    </script>

    <script src="lib/example.js"> </script>

    ${liveReloadSnippet}

  </body>
</html>
