<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Jiggle examples</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>Jiggle examples</h1>
    <ul>
      <li>
        <a href="example?simple">Simple</a>
      </li>
      <li>
        <a href="example?cube">Cube</a>
      </li>
      <li>
        <a href="example?masking">Masking</a>
      </li>
      <li>
        <a href="example?textures">Textures</a>
      </li>
    </ul>
  </body>
</html>
