<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>XGL examples</title>
    <link href="css/index.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>XGL examples</h1>
    <ul>
      <li>
        <a href="example?simple">Simple</a>
      </li>
      <li>
        <a href="example?cube">Cube</a>
      </li>
      <li>
        <a href="example?masking">Masking</a>
      </li>
      <li>
        <a href="example?pyramid">Pyramid</a>
      </li>
    </ul>
  </body>
</html>
